#mainContainerRow0 {
    margin-top: 150px;
}

#mainContainerRow2 {
    margin-top: 30px;
}

#inputPasswordLoginPage {
    margin-top: 10px;
}

#mainContainerRegistrationPage {
    margin-top: 150px;
}

.registrationForm {
    margin-top: 10px;
}

#topMenuContainer {
    margin-top: 20px;
    width: 1140px;
}

#logo {
    width: 70px;
    height: 47px;
    margin-right: 10px;
}

#logoColumn {
    width: 116px;
    height: 82px;
    padding: 0px;
}

.colmy {
    width: 65px;
    height: 54px;
    padding: 0px;
}

/* #mainPageSearchFieldContainer {
    width: 800px;
    height: 82px;
    padding: 0px;
    margin-left: 50px;
    margin-right: 50px;
} */

#mainPageSearchFieldContainer {
    padding-top: 15px;
    padding-left: 80px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

#userAccountContainer {
    margin-left: 25px;
}

#searchFieldMy {
    width: 400px;
    border-radius: 5px;
    border-color: black;
}

#columnSearchContainer {
    padding: 0px;
    margin: 0px;
    width: 600px;
}

.rowMy {
    padding-right: 0px;
    margin: 0px;
}

.topMargin {
    margin-top: 50px;
}

.maingPageStorePhoto {
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

.wholesaleBaseListColumn0 {
    width: 250px;
    height: 250px;
}

.wholesaleBaseListColumn1 {
    width: 650px;
    height: 250px;
    padding: 0px;
    text-align: left;
}

.separatePageStorePhoto {
    border-radius: 50px;
    width: 450px;
    height: 350px;
    /* margin-left: auto;
    margin-right: auto;
    display: block; */
}

.separatePageImgCol {
    width: 451px;
    height: 351px;
}

.separatePageTextCol {
    width: 300px;
    height: 350px;
    padding-top: 125px;
    padding-left: 35px;
}

.textAlignLeft {
    text-align: left;
}

.textAlignCenter {
    text-align: center;
}

.productCol {
    width: 400px;
    height: 300px;
}

.productPhotoRadius {
    border-radius: 10px;
}

.productPhotoColSize {
    width: 180px;
    height: 130px;
    padding: 0px;
    flex: none;
}

.productRowTopMargin {
    margin-top: 20px;
}

.productDivider {
    height: 20px;
}

.productRow {
    height: 140px;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 0px;
}
