#mainContainerRow0 {
    margin-top: 150px;
}

#mainContainerRow2 {
    margin-top: 30px;
}

#inputPasswordLoginPage {
    margin-top: 10px;
}

#mainContainerRegistrationPage {
    margin-top: 150px;
}

.registrationForm {
    margin-top: 10px;
}