<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OrderCreation</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/headers.css">
</head>
<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="http://127.0.0.1:8080/wholesaleBaseHome">
                    <img src="../img/Logo1.png" / id="logo">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-body-emphasis" onclick="allProducts()">Продукты</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis" onclick="basketProduct()">Корзина</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis" onclick="allOrders()">Заказы</a></li>
                </ul>

                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                    onclick="searchProducts()">Search</button>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" id="searchForm">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
                        name="searchField">
                </form>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../img/UserAccauntIcon.png" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">Настройки</a></li>
                        <li><a class="dropdown-item" onclick="getUserProfile()">Профиль</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" id="logoutId" onclick="logOut()">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container text-center productRowTopMargin">
        <div th:each="orderProduct,itrStat : ${order.getProducts()}">
            <div class="row productRow">
                <div class="col productPhotoColSize">
                    <img th:src="@{../img/{image_name}(image_name=${orderProduct.getPhotoName()})}" width="170" height="120"
                        loading="lazy" class="productPhotoRadius">
                </div>
                <div class="col textAlignLeft">
                    <a th:product-id="${orderProduct.getId()}" th:onclick="openProductSeparatePage(this.getAttribute('product-id'))" class="productLink">
                        <h5 th:text="${orderProduct.getName()}"></h5>
                    </a>
                    <p th:text="'Производитель: ' + ${orderProduct.getProducer()}"></p>
                </div>
                <div class="col">
                    <h6 th:text="${orderProduct.getBase().getName()}"></h6>
                </div>
                <div class="col">
                    <p><strong th:text="${orderProduct.getPrice()} + ' руб.'"></strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong th:text="'Итого: ' + ${order.getPrice()} + ' руб.'"></strong></p>
            </div>
            <div class="col">
                <button type="button" class="btn btn btn-dark" onclick="createOrder()">Подтвердить заказ</button>
            </div>
        </div>
    </div>

    <script src="../js/customJSlogic.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>