<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/headers.css">
    <link rel="stylesheet" href="../css/heroes.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
</head>

<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="http://127.0.0.1:8080/wholesaleBaseHome">
                    <img src="../img/Logo1.png" / id="logo">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Продукты</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Корзина</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Доставка</a></li>
                </ul>

                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                    onclick="searchWholesaleBase()">Search</button>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" id="searchForm">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
                        name="searchField">
                </form>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../img/UserAccauntIcon.png" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">Настройки</a></li>
                        <li><a class="dropdown-item" href="#">Профиль</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" id="logoutId" onclick="logOut()" "#">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container text-center" id="topMenuContainer">

        <div class="dropdown">
            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck1">Лучшая цена</label>


            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Оптовая база</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>

            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Производитель</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>

            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">Количество</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>


    <div class="container text-center productRawTopMargin">
        <div th:each="base: ${bases}">
            <div class="row productRaw">
                <div class="col productPhotoColSize">
                    <img th:src="@{../img/{image_name}.jpg(image_name=${base.getBasePhotoName()})}" width="170" height="120"
                        loading="lazy" class="productPhotoRadius">
                </div>
                <div class="col textAlignLeft">
                    <h3>Название товара</h3>
                    <p>Кол-во: 100</p>
                    <p>Россия</p>
                </div>
                <div class="col">
                    <h6>Оптовая база</h6>
                </div>
                <div class="col">
                    <p><strong>1200 руб.</strong></p>
                </div>
            </div>
        </div>
    </div>



    <script src="../js/customJSlogic.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>

</html>