<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Bases</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/custom.css">
    <!-- <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/custom.css"> -->
</head>

<body>
    <div class="container text-center" id="topMenuContainer">
        <div class="row align-items-start rowMy">
            <div class="colm" id="logoColumn">
                <a href="http://127.0.0.1:8080/wholesaleBaseHome">
                    <img src="../img/Logo1.png"/ id="logo">
                    <!-- <img src="../static/img/Logo1.png" id="logo"> -->
                </a>
            </div>
            <div id="columnSearchContainer">
                <div class="input-group mb-3" id="mainPageSearchFieldContainer">
                    <!-- <input type="text" id="searchFieldMy" class="form-controlmy" placeholder="Wholesale base name...">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button> -->
                </div>                  
            </div>
            <div class="colmy" id="userAccountContainer">
                <!-- <img src="../static/img/UserAccauntIcon.png"> -->
                <img src="../img/UserAccauntIcon.png">
            </div>
            <div class="colmy">
                <!-- <img src="../static/img/BasketIcon.png"> -->
                <img src="../img/BasketIcon.png">
            </div>
            <div class="colmy" id="exitIconContainer">
                <!-- <img src="../static/img/ExitIcon.png"> -->
                <img src="../img/ExitIcon.png">
            </div>
        </div>
        <div class="row align-items-start rowMy topMargin textAlignLeft">
            <h3 th:text="${base.getName()}"></h3>
            <p th:text="${base.getDescription()}"></p>
            <div class="separatePageImgCol">
                <img th:src="@{../img/{image_name}.jpg(image_name=${base.getBasePhotoName()})}" class="separatePageStorePhoto">
            </div>
            <div class="separatePageTextCol textAlignCenter">
                <p th:text="${base.getAddress()}"></p>
                <p th:text="${base.getBankData()}"></p>
                <p th:text="${base.getPhoneNumber()}"></p>
            </div>
        </div>
        
    </div>
</body>

</html>