<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Bases</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/headers.css">
    <link rel="stylesheet" href="../css/heroes.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="http://127.0.0.1:8080/wholesaleBaseHome">
                    <img src="../img/Logo1.png" / id="logo">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-body-emphasis" onclick="allProducts()">Продукты</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis" onclick="basketProduct()">Корзина</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis" onclick="allOrders()">Заказы</a></li>
                </ul>

                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                    onclick="searchProducts()">Search</button>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" id="searchForm">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
                        name="searchField">
                </form>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../img/UserAccauntIcon.png" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">Настройки</a></li>
                        <li><a class="dropdown-item" onclick="getUserProfile()">Профиль</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" id="logoutId" onclick="logOut()" "#">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    
    <div th:each="base: ${bases}">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img th:src="@{../img/{image_name}.jpg(image_name=${base.getBasePhotoName()})}" class="d-block mx-lg-auto img-fluid productPhotoRadius" alt="Bootstrap Themes"
                        width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="text-body-emphasis lh-1 mb-3" th:text="${base.getName()}"></h1>
                    <p class="lead" th:text="${base.getDescription()}"></p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-dark"
                        th:base-name="${base.getName()}"
                        th:onclick="openWholesaleBaseSeparatePage(this.getAttribute('base-name'))">Перейти</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-example-divider"></div>
    </div>

    <script src="../js/customJSlogic.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>

</html>