<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Bases</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/headers.css">
</head>

<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="http://127.0.0.1:8080/wholesaleBaseHome">
                    <img src="../img/Logo1.png" / id="logo">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-body-emphasis" onclick="allProducts()">Продукты</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis" onclick="basketProduct()">Корзина</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Доставка</a></li>
                </ul>

                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                    onclick="searchProducts()">Search</button>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" id="searchForm">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search"
                        name="searchField">
                </form>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../img/UserAccauntIcon.png" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">Настройки</a></li>
                        <li><a class="dropdown-item" href="#">Профиль</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" id="logoutId" onclick="logOut()" "#">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    
    <div class="container text-center" id="topMenuContainer">
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2 th:text="${base.getName()}"></h2>
                    <p th:text="${base.getDescription()}"></p>
                    <button class="btn btn-dark" type="button" th:base-id="${base.getId()}" th:onclick="getProductsByBaseID(this.getAttribute('base-id'))">Продукты</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-bg-dark rounded-3">
                    <h2>Контактная информация</h2>
                    <ul class="list-group list-group-flush">
                        <li th:text="${base.getBankData()}"></li>
                        <li th:text="${base.getAddress()}"></li>
                        <li th:text="${base.getPhoneNumber()}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/customJSlogic.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>

</html>