<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Bases</title>
    <!-- <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/custom.css"> -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/custom.css">
</head>

<body>
    <div class="container text-center" id="topMenuContainer">
        <div class="row align-items-start">
            <div class="colm" id="logoColumn">
                <a href="http://127.0.0.1:8080/wholesaleBaseHome">
                    <!--<img src="../img/Logo1.png"/ id="logo">-->
                    <img src="../static/img/Logo1.png"/ id="logo">
                </a>
                
            </div>
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
        </div>
    </div>
</body>

</html>